<mat-card>
    <mat-card-title>
        Available Pizza Toppings
    </mat-card-title>
    <mat-card-content>
        <div
            *ngFor="let pt of availablePizzaToppings"
        >
            <label>
                <mat-checkbox
                    [(ngModel)]="pt.checked"
                >
                </mat-checkbox>
                {{ pt.name }} ({{ pt.price | currency }})
            </label>
        </div>
    </mat-card-content>
</mat-card>










<h3>
    Total: {{ totalPrice | currency }}
</h3>