<mat-card>
    <mat-card-title>
        Available Pizza Toppings
    </mat-card-title>
    <mat-card-content>

        <!-- <h2>Available Pizza Toppings</h2> -->
    <div
    *ngFor= 'let pt of availablePizzaToppings'>
    <label>
        <mat-checkbox
        [(ngModel)]="pt.checked">
        
        {{pt.name}} ({{pt.price |currency}})
        </mat-checkbox>
    </label>
    </div>
    <br>
    <!-- <button
        (click)="calculateTotal()">
        Calculate Total
    </button> -->
    <h3>
        Total: {{totalPrice | currency}}

    </h3>
    </mat-card-content>
</mat-card>


