<mat-card>
    <mat-card-subtitle>
        Add items to your cart
    </mat-card-subtitle>
    <mat-card-content>
        <div
         *ngFor = "let sc of myCart"
        >
            {{ sc.item }}
            {{ sc.quantity }}
        </div>
        <input type="text" [(ngModel)] = "newItem" />
        <button
        mat-icon-button color="warn"
        aria-label="Example icon-button with a heart icon"
         (click) = "addQuantity()">
            <mat-icon>favorite</mat-icon>
        </button>
    </mat-card-content>
</mat-card>
