<mat-card>
    <mat-card-title>
        Ryan's Random Number Component
    </mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>
                Min
            </mat-label>
            <input
                type="number"
                matInput
            >
        </mat-form-field>
        &nbsp; to &nbsp;
        <mat-form-field>
            <mat-label>
                Max
            </mat-label>
            <input
                type="number"
                matInput
            >
        </mat-form-field>
        &nbsp;
        <button
            mat-mini-fab
        >
            Go!
        </button>
        &nbsp;
    </mat-card-content>
</mat-card>
