<!-- <p>temperature-converter works!</p> -->
<mat-card>
    <mat-card-title>
        Convert temperature From ℃ to ℉
        <br>
    </mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>
                <input #box type="number" name="tempC"
                matInput placeholder="Enter Temp in Celcius"
                [(ngModel)]="tempC"
                >
            </mat-label>
        </mat-form-field> 
        &nbsp; 
        <button
        mat-mini-fab
        (click)="convertTemp()"
        >
            =
        </button>

        &nbsp;
        <span>
           {{tempF}} ℉
        </span>

    </mat-card-content>
</mat-card>
